.container {
  padding: 2rem;
  margin: 0 auto;
  width: 100vw;
}

.title {
  font-family: 'Lato', sans-serif;
  font-size: 54px;
  font-weight: 300;
  text-align: center;
  line-height: 58px;
  margin: 0 0 58px;
}

.content {
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 50rem;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
}

.encounter {
  display: inline-block;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.image-pane {
  display: inline-block;
}

.encounter-content {
  position: absolute;
  display: inline-block;
  width: 29rem;
  vertical-align: top;
  top: 0;
  bottom: 0;
}

.encounter-header {
  text-align: center;
  font-weight: 900;
}

.encounter-details {
}

.encounter-results {
  width: 29rem;
  position: absolute;
  bottom: 0;
}

.results {
  text-decoration: underline;
}

.image {
  width: 20rem;
}

.item {
  display: inline-block;
  position: relative;
}

.item-image {
  height: 8rem;
}

.item-description {
  display: inline-block;
  vertical-align: top;
  line-height: 8rem;
}

.conversation-container {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.conversation {
  line-height: .7rem;
  font-style: italic;
}

.right {
  text-align: right;
}

.appendix {
  padding-top: 2rem;
}